* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  --bg: #0d1117;
  --grey-text: #c3d1d9;
  --blue-headers: #3f84e5;
}

.App {
  text-align: center;

  .Todo-App {
    background-color: var(--bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ececec;
  }

  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }

  .todo-form {
    margin: 32px;
  }

  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 1rem 0 0 1rem;
    border: 2px solid #179deb;
    outline: none;
    width: 320px;
    background: transparent;
    color: var(--grey-text);
  }

  .todo-input::placeholder {
    color: var(--grey-text);
  }

  .todo-button {
    font-weight: 600;
    padding: 16px;
    border: none;
    border-radius: 0 1rem 1rem 0;
    cursor: pointer;
    outline: none;
    background: #179deb;
    color: #ececec;
    text-transform: capitalize;
  }

  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  // todo list

  .todo-row {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(79, 90, 104) 0%,
      rgb(160, 188, 218) 100%
    );

    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }

  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
  }

  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgba(255, 12, 241, 1) 0%,
      rgba(250, 0, 135, 1) 100%
    );
  }
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
  }

  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }

  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }

  .edit-icon {
    color: #fff;
  }
}
